@charset "UTF-8";

:root{
    --cor1: #49a09d;
    --cor2: #5f2c82;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    background-color: var(--cor2);
    width: 100%;
    height: 100%;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    background-color: white;
    width: 360px;
    height: 450px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.562);

    transition: width .4s, height .4s;
}

section#login > div#imagem{
    display: block;
    background: url(../imagens/pexels-dinnow-9444476.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 40%;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
}

div#formulario > p{
    font-size: .8em;
}

form > div.campo{
    display: block;
    width: 100%;
    background-color: #5f2c82;
    height: 35px;
    margin: 5px 0px;
    border-radius: 8px;
    border: 2px solid #5f2c82;
}

div.campo > span{
    color: white;
    font-size: 1.5em;
    width: 30px;
    padding: 5px;
}

div.campo > input {
    background-color: rgba(178, 175, 175, 0.913);
    font-size: 1em;
    height: 100%;
    width: calc(100% - 35px);
    border: 0px;
    border-radius: 8px;

    transform: translateY(-6px);
}

div.campo > input:focus-within{
    background-color: white;
}

form label{
    display: none;
}

form > input[type=submit]{
    display: block;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #49a09d;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #3b7b79;
}

form > a.botao{
    display: block;
    width: 100%;
    height: 30px;
    font-size: 1em;
    background-color: white;
    color: #234e4e;
    border: 1px solid #49a09d;
    border-radius: 5px;
    margin-top: 8px;
    text-align: center;
    text-decoration: none;
}

form > a.botao:hover{
    background-color: #57c2be;
}

form > a.botao > span{
    font-size: .9em;
}

