@charset "UTF-8";

:root{
    --cor1: #49a09d;
    --cor2: #5f2c82;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: var(--cor2);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 280px;
    height: 550px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);

    transition: width .4s, heigth .4s;
}

section#login > div#imagem{
    display: block;
    background: url(../imagens/pexels-dinnow-9444476.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 240px;
    width: 280px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}